[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "docxtools"]
	path = docxtools
	url = https://github.com/graphdr/docxtools
[submodule "formatdown"]
	path = formatdown
	url = https://github.com/graphdr/formatdown
